.Titulo{
    text-align: center;
    border: 10px solid ghostwhite;
    background-color: rgb(180, 126, 55);
    width:35%;
    padding:25px;
    margin-right:auto;
    margin-left:auto;
    height: 100px;
    position: relative;
    box-sizing: border-box;
}

.Recomendados{
    text-align: center;
    display: block;
    background-color: burlywood;
    color: white;
    margin-right:auto;
    margin-left:auto;
    width: 100%;
    padding: 25px;
    box-sizing: border-box;
}

/* #DOOM,
#GTA5,
#RainbowSix{
    width: min-content;
    height: 25px;
    display: block;

} */
.carousel-inner img {
    width: 80%;
    max-height: 600px;
    margin-right:auto;
    margin-left:auto;
}

.carousel-inner{
    height: 80%;
    margin-right:auto;
    margin-left:auto;
}
.botones{
    width: 50%;
    max-height: 460px;
    margin-right:auto;
    margin-left:auto;
}

.fono {
    width: 30%;
}

.rescate {
    width: 40%;
    text-align: center;
}

.redes {
    width: 30%;
    text-align: center;
}

.redes ul li {
    background-color: white;
    border-radius: 50%;
    width: 32px;
    height: 32px;
    display: inline-block;
}

.redes img {
    height: 16px;
}

.lateral_1, .lateral_2 {
    width: 50%;
    height: 500px;
    padding: 30px;
    background-color: white;
    font-family: verdana;
}

.lateral_1 {
    text-align: right;
}

.lateral_2 img {
    width: 50%;
}

.contenedor-inferior {
    display: flex;
}

.footer {
    text-align: center;
}


@media screen and (min-widht: 800px){}
    .Titulo {
        width: 100%;
    }
     aside{
         width: 100%;
     }

     @media screen and (min-widht: 800px){}
     body {
         background: 100%;
     }
     aside{
        display:none;
    }